body {
    margin: 0;
    padding: 0;;
}
header {
    background-image: url(images/fleshy_plants.jpg);
    background-color: rgb(3, 84, 87); 
    height: 665px;
    width: 100%;
    bottom: 20px;
    position: relative;
}
.blackout-header-image {
    background-color: rgba(7, 33, 41, 0.2);
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
}
.header-shadow1,
.header-shadow2 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}
.header-shadow1 {
    height: 20%;
    top: 4%;
    position: relative;
}
.header-shadow2 {
    height: 80%;
    top: 10%;
    position: relative;
}
.head {
    background-color: rgba(42, 231, 206, 0.603);
    height: 80%;
    width: 100%;
    top: 10%;
    position: relative;
}
.logo-block {
    background-color: rgba(20, 207, 176, 0.5);
    height: 80%;
    min-width: 15%;
    max-width: 20%;
    top: 10%;
    left: 3%;
    position: relative;
}
.logo {
    height: 95%;
    max-width: 100%;
    display: block;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    top: 3%;
    position: relative;
}
.head-items {
    height: 40%;
    float: right;
    border-collapse: separate;
    border-spacing: 10px;
    right: 5%;
    bottom: 65%;
    position: relative; 
    padding-right: 10px; 
    border-color: transparent;
}
th {
    background-color: rgba(55, 235, 226, 0.5);
    width: 15%;
    min-width: 10%;
   }
th:hover {
    background-color:  rgb(12, 235, 197);
}
a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 20px;
}
.hours-shadow1,
.hours-shadow2 {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.hours-shadow1 {
    width: 31%;
    height: 45%;
    position: relative;
    bottom: 60%;
    left: 2%;
}
.hours-shadow2 {
    width: 90%;
    height: 87%;
    top: 6%;
    left: 5%;
    position: relative;
}
.hours-block {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 85%;
    top: 7.5%;
    left: 5%;
    border-radius: 10px;
    position: relative;
}
#hours {
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 30px;
    font-weight: lighter;
    top: 14%;
    left: 15%;
    position: absolute;
}
#days {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    top: 33%;
    left: 15%;
    position: absolute;
    line-height: 40px;
}

.contact-us-shadow1,
.contact-us-shadow2 {
    background-color: rgba(0, 0, 0, 0.4);   
    border-radius: 10px;
}
.contact-us-shadow1 {
    width: 31%;
    height: 45%;
    bottom: 15%;
    right: 34.5%; 
    position: absolute;
}
.contact-us-shadow2 {
    width: 90%;
    height: 87%;
    top: 6%;
    left: 5%;
    position: relative;
}
.contact-us-block {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 85%;
    top: 7.5%;
    left: 5%;
    position: relative;
}
#phone-number {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 40px;
    top: 13%;
    left: 15%;
    position: relative;
}.adress-shadow1,
.adress-shadow2 {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.adress-shadow1 {
    width: 31%;
    height: 45%;
    right: 2%;
    bottom: 15%;
    position: absolute;
 
}
.adress-shadow2 {
    width: 90%;
    height: 87%;
    top: 6%;
    left: 5%;
    position: relative;
}
.adress-block {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 85%;
    top: 7.5%;
    left: 5%;
    position: relative;
}
.adress {
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: lighter;
    top: 14%;
    left: 15%;
    position: absolute;

}
.adress-too {
    color:white;
    text-transform: capitalize;
    font-size: 20px;
    top: 36%;
    left: 15%;  
    line-height: 30px;
    position: absolute;

}
input:focus, button:focus {
    outline: none ;
}

p {
    text-align: center;
}
#call-me {
    display: block;
    top: 20%; 
    left: 20%;
    position: relative;
}

.button {
    
    background-color: #14b491;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 20%;
    width: 60%;
    border: 0;
    font-size: 100%;
}

.button:hover,
.button2:hover {
    background-color: rgb(25, 255, 178) ;
    cursor: pointer;
}
.button2 {
    background-color: #14b491;
    border-radius: 5px;
    width: 30%;
    height: 40px;
    font-size: 20px;
    border: none;
}
#call-me-form {
    background-color: #f3f3f3;
    display: none;
    position: fixed;
    z-index: 100;
    top: 25%;
    left: 30%;
    width: 30%;
    border-radius: 10px;
    padding: 40px;
}

.input-section {
    display: block;
    width: -webkit-fill-available;
    margin-bottom: 10px;
}

.input-section input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
}

#close {
    display: inline-block;
    margin-left: 5px;
    font-family: sans-serif;
    color: #000000;
    padding: 10px 15px;
}

#close:hover {
    color: rgb(17, 119, 85);
}

.middle-white-block {
    background-color: white;
    height: 1800px;
    width: 100%;
    position: relative;
}
.content-block1 {
    width: 100%;
    height: 68%;
    position: relative;
}
.some-text-stuff {
    display: block;
    height: 30%;
    width: 50%;
    max-height: 250px;
    font-size: 35px;
    top: 5%;
    left: 25%;
    text-align: center;
    position: relative;
}
hr {
    background-color: gray;
    top: 5%;
    height: 20px;
    position: relative;
}
.flowers-images {
    margin-top: 15%; 
    border-collapse: separate;
    border-spacing: 50px;
    height: 900px;
    width: 95%;
    left: 2.5%;
    position: relative;
}
.table-text {
    font-size: 28px;
    display: block;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 30%;
    line-height: 30px;
    position: relative;
}
.table-text-item {
    height: 100px;

}
.table-item1 {
    background-image: url(images/1.jpg);
    height: 39%;
    width: 50%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.table-item2 {
    background-image: url(images/2.jpg);
    height: 70%;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.table-item3 {
    background-image: url(images/3.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-block2 {
    top: 77%;
    left: 5%;
    width: 90%;
    height: 300px;
    position: absolute;
}
.green-item-content2 {
    background-color: rgb(12, 133, 133);
    width: 60%;
    height: 100%;
    position: relative;
}
.invite {
    display: block;
    width: 50%;
    bottom: 10%;
    left: 10%;
    font-size: 40px;
    height: 30%;
    position: relative;
}
.send {
    display: block;
    width: 50%;
    left: 10%;
    font-size: 25px;
    position: relative;
}
.grey-item-content2 {
    background-color: gray;
    height: 100%;
    width: 40%;

}
.bottom-grey-block {
    background-color: gray;
    width: 100%;
    height: 50vh;
    position: relative;
}
.list1,
.list2 {
    list-style-type: none;    
    font-size: 25px;
    line-height: 50px;
    position: absolute;
}
.list1 {
    left: 15%;

    max-width: 200px;

}
.list2 {
    left: 65%;
    max-width: 200px;
}
