* {
    margin: 0;
    padding: 0;
}
.bg {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: #f3f5f6;
    top: 1630px;
}
a {
    color: none !important;
    text-decoration: none;
}
nav {
    height: 90px;
    background-color: #fff;
}
.navBar li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
}
.navBar a:first-of-type li {
    font-weight: bold;
} 
.navBar {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;   
}
.createAccount {
    float: right;
    margin-right: 40px;
    font-weight: bold;
    height: 50px;
    font-size: 17px;
    padding-left: 27px;
    padding-right: 27px;
    background-color: #ffcc33;
    color: #fef7e6;
    outline: none;
    border: none;
    box-shadow: 0 0 3px rgba(151, 151, 151, 0.5);
    cursor: pointer;
    z-index: 5;
}
.hero {
    height: 739px;
    background-color: #e7edf0;
    background-image: url("Images/Layer_746.png");
    background-position: bottom center;
}
.hero hr {
    position: relative;
    width: 30px;
    height: 4px;
    top: 115px;
    background-color: #fed766;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 5;
}
.hero span {
    position: relative;
    display: block;
    color: #14abe0;
    font-size: 40px;
    width: 1150px;
    text-align: center;
    font-family: 'Asar', serif;
    line-height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    z-index: 2;
}
main {
    position: relative;
    width: 1250px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
}
.intro {
    height: 300px;
}
.intro h1 {
    text-align: center;
    font-weight: normal;
    height: 100px;
    line-height: 177px;
    font-family: 'Asar', serif;
}
.welcomeText {
    position: relative;
    display: block;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 900px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    text-align: center;
}
.aboutContainer {
    height: 700px;
}
.about {
    display: inline-block;
    position: relative;
    width: 290px;
    background-color: #00a5de;
    height: 700px;
}
.about span {
    position: absolute;
    display: block;
    margin: 135px 20px 0 20px;
    text-align: left;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255);;
    line-height: 1.444;
}
.imgBgr {
    display: inline-block;
    width: 650px;
    height: 700px;
    background-image: url(Images/Layer_748.png);
    background-position-x: center;
}
.introTabs {
    position: absolute;
    width: 310px;
    height: 700px;
    display: inline-block;
}
.introTabs h1 {

    height: 70px;
    font-family: 'Asar', serif;
    line-height: 1;
    margin-top: 60px;
    margin-left: 20px;
}
.introTabs>span {
    display: block;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.588;
    height: 170px;
}
ul.tabs li {
    font-family: 'Asar', serif;
    list-style-type: none;
    height: 100px;
    text-align: center;
    font-size: 24px;
    text-align: left;
    line-height: 1;
    color: #00a5de;
}
ul.tabs span {
    display: inline-block;
    height: 100px;
    border-bottom: 1px solid black;
    color: #fbd171;
    padding: 0 25px;
    text-align: center;
    line-height: 100px;
}
.tabs>li hr {
    position: relative;
    display:none;
    width: 1px;
    height: 40px;
    border: none;
    background-color: white;
    margin-right: 25px;
    top: 10px;
}
.tabs>li:hover hr {
    display: inline-block;
}
.tabs>li:last-of-type span {
    border: none;
    padding: 0 32px;
}
.tabs>li:hover span {
    border: none;
}
.tabs>li:hover {
    position: relative;
    font-size: 28px;
    color: white;
    width: 390px;
    right: 80px;
    background-color: #00a5de;
    cursor: pointer;
}
.contentContainer {
    position: relative;
    height: 500px;
    background-color: #003f72;
    background-image: url(Images/Layer_749.png);
}
.spanContainer {
    position: absolute;
    bottom: 100px;
    height: 260px;
    width: 312px;
    background-color: white;
}
.spanContainer h2 {
    margin: 35px 20px 0 20px;
    font-size: 32px;
    font-family: 'Asar', serif;
}
.spanContainer span {
    display: inline-block;
    line-height: 1.444;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
}
.tabsCont {
    position: absolute;
    height: 100px;
    bottom: 0px;
    width: 100%;
}
.dailyDeal {
    padding: 20px;
    height: 100px;
    width: 312px;
    background-color: #f9bf3b;
    border: none;
    outline: none;
    background-image: url(Images/ic_arrow_downward_24px\ copy.png);
    background-repeat: no-repeat;
    background-position: center right 5%;
    cursor: pointer;
}
.learnMore {
    padding: 20px;
    height: 100px;
    width: 312px;
    float: right;
    border: none;
    outline: none;
    background-color: white;
    background-image: url(Images/ic_arrow_downward_24px.png);
    background-repeat: no-repeat;
    background-position: center right 5%;
    cursor: pointer;
}
.dailyDeal span {
    font-size: 28px;
    font-family: 'Asar', serif;
}
.learnMore span {
    font-size: 24px;
    font-family: 'Asar', serif;
}
.tabsCont button span:first-of-type {
    float: left;
}
.booksContainer>h2 {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    top: 140px;
    font-family: 'Asar', serif;
}
.booksContainer>ul {
    position: relative;
    margin-top: 230px;
    width: 100%;
}
.booksContainer>ul li {
    position: relative;
    display: inline-block;
    height: 320px;
    list-style-type: none;
    width: 350px;
    background-image: url(Images/Screenshot_2.png);
    background-position: left;
    background-repeat: no-repeat;
}
.booksContainer>ul a {
    display: inline-block;
    margin-right: 70px;
}
.booksContainer>ul a:last-of-type {
    margin: 0;
}
.fiction {
    top: 80px;
    left: 220px;
    position: absolute;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #878787;
}
.moonTiger {
    top: 85px;
    left: 215px;
    position: absolute;
    font-size: 26px;
    font-family: 'Asar', serif;
    color: #1f1e1e;
}
.price {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 140px;
    left: 270px;
    font-size: 20px;
    color: #f8bc3d;
}
.buy {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 9px;
    left: 275px;
    top: 170px;
}
.subscribeForm {
    position: relative;
    width: 700px;
    margin-top: 230px;
    margin-bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
}
.formTitle {
    text-align: center;
    font-family: 'Asar', serif;
    font-size: 42px;
    font-weight: normal;
    display: block;
}
#name {
    position: absolute;
    left: 40px;
    width: 280px;
    height: 30px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
}
#email {
    position: absolute;
    right: 40px;
    width: 280px;
    height: 30px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
}
.inputRow {
    position: relative;
    margin-top: 30px;
    display: flex;
    height: 60px;
    align-items: center;
}
.inputRow label {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: white;
    padding: 0 10px;
    z-index: 2;
    top: -10px;
}
.inputRow label:first-of-type {
    left: 50px;
}
.inputRow label:last-of-type {
    left: 365px;
}
#submitButton {
    position: relative;
    margin-top: 40px;
    background-color: #f9bf3b;
    border: none;
    outline: none;
    width: 230px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
footer {
    height: 500px;
    color: white;
}
.footerContainer {
    height: 450px;
    background-color: #00a5de;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bottomFooter {
    background-color: #2e3192;
    height: 55px;
}
.bottomFooter ul {
    padding-left: 35px;
    position: relative;
    height: 100%;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
}
.bottomFooter li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    line-height: 55px;
    padding: 0 10px;
    color: white;
}
.bottomFooter span {
    font-size: 5px;
    color: white;
}
.footerContainer div span, h2{
    font-weight: normal;
    font-family: 'Asar', serif;
}
.footerContainer div:nth-of-type(3) span,
.footerContainer li {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    list-style-type: none;
}
.createAccountFooter {
    width: 400px;
    height: 280px;
}
.createAccountFooter h2 {
    font-size: 38px;
    text-align: center;
}
.createAccountFooter span {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
}
.createAccountFooter .registerFooter {
    position: relative;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 180px;
    border: none;
    outline: none;
    background-color: #f9bf3b;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
.aboutFooter, .opportunitiesFooter,
.languageFooter, .pressFooter {
    height: 300px;
}
.aboutFooter span, .opportunitiesFooter span,
.languageFooter span, .pressFooter span {
    font-size: 28px;
}

.aboutFooter ul, .opportunitiesFooter ul,
.languageFooter ul, .pressFooter ul {
    margin-top: 20px;
}
.aboutFooter li, .opportunitiesFooter li,
.languageFooter li, .pressFooter li {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}
.languageFooter, .pressFooter {
    text-align: right;
}








@media screen and (max-width: 1400px) {
    .createAccount {
        font-size: 14px;
        margin-right: 30px;
    }
    .navBar li {
        font-size: 13px;
    }
    .navBar {
        width: 590px;
    }
    .hero span {
        font-size: 35px;
        width: 1000px;
    }
    main {
        width: 1050px;
    }   
    .imgBgr {
        width: 550px;
        height: 600px;
    }
    .aboutContainer {
        height: 600px;
    }
    .about {
        width: 240px;
        background-color: #00a5de;
        height: 600px;
    }
    .about span {
        margin: 120px 20px 0 20px;
        font-size: 14px;
    }
    .introTabs {
        width: 260px;
        height: 600px;
    }
    .introTabs h1 {
        margin-top: 40px;
    }
    .introTabs>span {
        font-size: 15px;
        height: 150px;
    }
    ul.tabs li {
        height: 85px;
        font-size: 23px;
        line-height: 85px;
    }
    ul.tabs span {
        height: 85px;
        line-height: 85px;
    }
    .tabs>li hr {
        height: 30px;
        top: 7px;
    }
    .tabs>li:last-of-type span {
        border: none;
        padding: 0 32px;
    }
    .tabs>li:hover {
        font-size: 24px;
        width: 340px;
    }
    .booksContainer>ul li {
        background-size: contain;
        height: 287px;
        width: 317px;
    }
    .booksContainer>ul a {
        display: inline-block;
        margin-right: 40px;
    }
    .fiction {
        left: 200px;
        font-size: 10px;
    }
    .moonTiger {
        left: 195px;
        font-size: 21px;
    }
    .price {
        top: 130px;
        left: 250px;
        font-size: 19px;
    }
    .buy {
        font-size: 9px;
        left: 255px;
        top: 160px;
    }
    .bg {
        height: 485px;
        top: 1545px;
    }
    .createAccountFooter {
        width: 300px;
        height: 250px;
    }
    .createAccountFooter h2 {
        font-size: 33px;
    }
    .createAccountFooter span {
        font-size: 17px;
        margin-top: 30px;
    }
    .createAccountFooter .registerFooter {
        margin-top: 30px;
        font-size: 13px;
    }
    .aboutFooter, .opportunitiesFooter,
    .languageFooter, .pressFooter {
        height: 250px;
    }
    .aboutFooter span, .opportunitiesFooter span,
    .languageFooter span, .pressFooter span {
        font-size: 25px;
    }
    .aboutFooter li, .opportunitiesFooter li,
    .languageFooter li, .pressFooter li {
        font-size: 15px;
    }
}

@media screen and (max-width: 1100px) {
    .createAccount {
        font-size: 10px;
        margin-right: 20px;
        padding: 0 20px;
    }
    .navBar li {
        font-size: 10px;
        margin-right: 3px;
    }
    .navBar {
        left: 45%;
    }
    .navBar li:hover {
        color: #fc3;
    }
    .hero span {
        font-size: 25px;
        width: 700px;
    }
    main {
        width: 750px;
    }
    .welcome {
        font-size: 28px;
    }
    .welcomeText {
        font-size: 15px;
        width: 650px;
        left: 50%;
        margin-top: 30px;
    }
    .intro {
        height: 250px;
    }
    .aboutContainer {
        height: 500px;
    }
    .about {
        width: 165px;
        background-color: #00a5de;
        height: 500px;
    }
    .about span {
        margin: 85px 10px 0 10px;
        font-size: 12px;
    }
    .imgBgr {
        width: 400px;
        height: 500px;
        background-size: cover;
    }
    .introTabs {
        width: 185px;
        height: 500px;
    }
    .introTabs h1 {
        margin-top: 10px;
        font-size: 28px;
        line-height: 25px;
        height: 90px;
    }
    .introTabs>span {
        font-size: 12px;
        height: 100px;
    }
    .tabs {
        margin-top: 20px;
    }
    ul.tabs li {
        height: 70px;
        font-size: 18px;
        line-height: 70px;
    }
    ul.tabs span {
        height: 70px;
        padding: 0 15px;
        line-height: 70px;
    }
    ul.tabs li:last-of-type span {
        padding: 0 20px;
    }
    
    ul.tabs li:last-of-type:hover span {
        padding: 0 0 0 39px;
    }
    
    ul.tabs li:hover span {
        padding: 0 0 0 30px;
    }
    .tabs>li hr {
        height: 30px;
        top: 7px;
    }
    .tabs>li hr {
        position: relative;
        display:none;
        width: 1px;
        height: 40px;
        border: none;
        background-color: white;
        margin: 0 26px;
        top: 15px;
    }
    .tabs>li:hover {
        font-size: 20px;
        width: 265px;
    }
    .booksContainer>ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .booksContainer>ul li {
        background-size: contain;
        height: 287px;
        width: 317px;
    }
    .booksContainer>ul a {
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .bg {
        height: 470px;
        top: 1409px;
    }
    .footerContainer {
        display: block;
        position: relative;
    }
    .createAccountFooter {
        width: 300px;
        height: 250px;
        display: inline-block;
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX( -50%);
    }.mobile-menu a {
        display: none;
    }
    .createAccountFooter h2 {
        font-size: 30px;
    }
    .createAccountFooter span {
        font-size: 17px;
        margin-top: 10px;
    }
    .createAccountFooter .registerFooter {
        margin-top: 30px;
        font-size: 13px;
    }
    .aboutFooter, .opportunitiesFooter,
    .languageFooter, .pressFooter {
        height: 220px;
    }
    .aboutFooter, .opportunitiesFooter {
        margin-left: 50px;
        position: relative;
        top: 20px;
    }
    .pressFooter {
        margin-right: 10px;
        top: 250px; 
    }
    .languageFooter, .pressFooter {
        display: block;
        position: absolute;
        right: 50px;
    }
    
    .languageFooter {
        top: 20px;
    }
    .aboutFooter span, .opportunitiesFooter span,
    .languageFooter span, .pressFooter span {
        font-size: 20px;
    }
    .aboutFooter li, .opportunitiesFooter li,
    .languageFooter li, .pressFooter li {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .navBar {
        width: 250px;
        top: 30px;
        left: 20px;
        transform: translate(0);
    }
    .createAccount {
        top: -15px;
        position: relative;
    }
    .hero hr {
        top: 60px;
    }
    .hero  span {
        width: 90%;
        top: 90px
    }
    main {
        width: 420px;
    }
    .welcomeText {
        width: 90%;
    }
    .aboutContainer {
        height: auto;
    }
    .about {
        width: 100%;
        height: 200px;
    }
    .about span {
        margin: 30px 15px 0;
        text-align: center
    }
    .imgBgr {
        width: 285px;
        height: 300px;
        top: -5px;
        position: relative;
    }
    .introTabs {
        width: auto;
        height: 300px;
        max-width: 260px;
        margin-top: -5px;
    }
    .introTabs h1 {
        height: auto;
        font-size: 16px;
        line-height: 20px;
        margin-top: 0px;
    }
    .introTabs>span {
        max-height: 95px;
        line-height: 12px;
    }
    .introTabs ul {
        position: absolute;
        margin: 0;
    }
    .introTabs ul li {
        height: 41.25px;
        font-size: 12px;
        line-height: 41.25px;
    }
    ul.tabs span {
        height: 41.25px;
        padding: 0 15px;
        line-height: 41.25px;
    }
    ul.tabs li:hover span {
        padding: 0 15px;
    }
    .tabs>li:hover hr {
        display: none;
    }
    ul.tabs li:last-of-type:hover span {
        padding: 0 16px;
    }
    .tabs>li:hover {
        font-size: 16px;
        right: 53px;;
        width: 200px;
        height: 41.25px;
    }
    .contentContainer {
        top: -10px;
    }
    .spanContainer {
        top: 0px;
        width: 285px;
        height: 200px;
    }
    .spanContainer>h2 {
        font-size: 20px;
    }
    .spanContainer>span {
        font-size: 15px;
        line-height: normal;
    }
    .dailyDeal, .learnMore {
        width: 40%;
    }
    
    .dailyDeal span, .learnMore span {
        font-size: 22px;
    }
    .booksContainer>ul a {
        margin: 0 0 50px 0;
    }
    .bg {
        top: 1437px;
        height: 440px;
    }
    .subscribeForm {
        width: 420px;
    }
    .subscribeForm span {
        font-size: 35px;
    }
    #name, #email {
        position: relative;
        right: 0px;
        left: 55px;
        margin-bottom: 30px;
    }
    .inputRow {
        display: block;
        height: auto;
        width: auto;
    }
    #submitButton {
        margin: 0;
    }
    .inputRow label:first-of-type {
        top: 10px;
        left: 60px;
    }
    .inputRow label:last-of-type {
        left: 60px;
        top: 95px;
    }
    .createAccountFooter {
        bottom: 190px;
    }
    .createAccountFooter h2 {
        font-size: 25px;
    }
    .createAccountFooter span {
        margin: 0px;
    }
    .createAccountFooter .registerFooter {
        margin-top: 10px;
    }
    .aboutFooter, .opportunitiesFooter,
    .languageFooter, .pressFooter {
        height: 125px;
    }
    .aboutFooter, .opportunitiesFooter {
        margin-left: 50px;
        position: relative;
        top: 170px;
        margin-bottom: 25px;
    }
    .pressFooter {
        margin-right: 0px;
        top: 320px; 
    }
    .languageFooter, .pressFooter {
        display: block;
        position: absolute;
        right: 50px;
    }
    .languageFooter {
        top: 170px;
    }
    .aboutFooter span, .opportunitiesFooter span,
    .languageFooter span, .pressFooter span {
        font-size: 20px;
    }
    .aboutFooter li, .opportunitiesFooter li,
    .languageFooter li, .pressFooter li {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .aboutFooter ul, .opportunitiesFooter ul,
    .languageFooter ul, .pressFooter ul{
        margin-top: 0px;
    }
}
@media screen and (max-width: 480px) {
    .navBar {
        display: none;
    }
    .createAccount {
        position: absolute;
        top: 20px;
        right: 0px;
        padding: 0 10px;
        margin-right: 10px;
    }
    .menu-icon {
        height: 24px;
        width: 30px;
        position: absolute;
        top: 33px;
        left: 20px;
        z-index: 7;
    }
    .menu-icon:hover {
        cursor: pointer;
    }
    .menu-icon>div {
        width: 100%;
        height: 4px;
        background-color: #fc3;
        margin-bottom: 6px;
        transition: .4s ease;
    }
    .menu-icon .bar3 {
        margin-bottom: 0;
    }
    .animate .bar1 {
        -webkit-transform: rotate(-45deg)translate(-11px, 8px);
        -moz-transform: rotate(-45deg)translate(-11px, 8px);
        -o-transform: rotate(-45deg)translate(-11px, 8px);
        -ms-transform: rotate(-45deg)translate(-11px, 8px);
        transform: rotate(-45deg)translate(-11px, 8px);
    }
    .animate .bar2 {
        opacity: 0;
    }
    .animate .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -4px);
        -moz-transform: rotate(45deg) translate(-5px, -4px);
        -o-transform: rotate(45deg) translate(-5px, -4px);
        -ms-transform: rotate(45deg) translate(-5px, -4px);
        transform: rotate(45deg) translate(-5px, -4px);
    }
    .reverse-animate .bar1 {
        -webkit-transform: rotate(45deg)translate(11px, -8px);
        -moz-transform: rotate(45deg)translate(11px, -8px);
        -o-transform: rotate(45deg)translate(11px, -8px);
        -ms-transform: rotate(45deg)translate(11px, -8px);
        transform: rotate(45deg)translate(11px, -8px);
    }
    .mobile-menu {
        position: absolute;
        background-color: #e7edf0;
        height: 500px;
        width: 100%;
        text-align: center;
        box-shadow: 0px 10px 10px rgba(105, 105, 105, 0.315);
        z-index: 6;
    }
    .mobile-menu a:first-of-type li {
        margin-top: 100px;
    }
    .mobile-menu li {
        display: block;
        margin: 10px 0;
    }
    .mobile-menu a {
        display: inline;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Asar', serif;
        color: #00a5de;
        transition: 100ms;
    }
    .mobile-menu a:hover {
        color: #fc3;
    }
    .hero {
        height: 500px;
    }
    .hero hr {
        display: none;
    }
    .hero span {
        top: 10px;
        width: 85%;
        font-size: 14px;
        line-height: 20px;
    }
    .content {
        width: 100%;
    }
    .intro h1 {
        padding-bottom: 40px;
        height: 60px;
        line-height: 100px;
    }
    .welcomeText {
        margin-top: -20px;
    }
    .about {
        height: 300px;
    }
    .about span {
        margin: 0 20px;
        display: block;
        top: 50%;
        transform: translateY(-50%);
    }
    .introTabs {
        display: none;
    }
    .imgBgr {
        width: 100%;
        padding-top: 110%;
        height: 0px;
    }
    .spanContainer {
        width: 250px;
    }
    .dailyDeal, .learnMore {
        width: 50%;
        padding: 15px;
    }
    .dailyDeal span, .learnMore span {
        font-size: 17px;
    }
    .booksContainer>ul li {
        width: 200px;
        margin: 0 50px;
    }
    .fiction {
        left: 10px;
        top: 280px;
    }
    .moonTiger {
        left: 5px;
        top: 285px;
    }
    .price {
        left: 120px;
        top: 275px;
    }
    .buy {
        left: 130px;
        top: 300px;
    }
    .subscribeForm {
        width: 210px;
    }
    .subscribeForm span {
        font-size: 28px;
    }
    #name, #email {
        right: 0px;
        left: 0px;
        width: 190px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        height: 20px;
    }
    .inputRow {
        margin-top: 0px;
    }
    .inputRow label:first-of-type {
        top: 10px;
        left: 30px;
    }
    .inputRow label:last-of-type {
        left: 30px;
        top: 100px;
    }
    #submitButton {
        width: 210px;
    }
    .createAccountFooter {
        width: 100%;
        max-width: 350px;
    }
    .createAccountFooter h2 {
        font-size: 23px;
    }
    .createAccountFooter span {
        font-size: 15px;
    }
    .aboutFooter, .opportunitiesFooter,
    .languageFooter, .pressFooter {
        height: 220px;
    }
    .aboutFooter, .opportunitiesFooter {
        margin-left: 50px;
        position: relative;
        top: 20px;
    }
    .pressFooter {
        margin-right: 0px;
        top: 320px; 
        height: auto;
    }
    .languageFooter, .pressFooter {
        display: block;
        position: absolute;
        right: 30px;
    }
    
    .languageFooter {
        top: 170px;
        height: auto;
    }
    .aboutFooter {
        top: 170px;
        right: 30px;
        height: auto;
    }
    .opportunitiesFooter {
        top: 187px;
        right: 30px;
        height: auto;
    }
    .aboutFooter span, .opportunitiesFooter span,
    .languageFooter span, .pressFooter span {
        font-size: 13px;
        height: auto;
    }
    .aboutFooter li, .opportunitiesFooter li,
    .languageFooter li, .pressFooter li {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .bottomFooter ul {
        width: 250px;
    }
    .bottomFooter li {
        font-size: 10px;
        padding: 0;
    }
}