.topic {
    position: relative;
    width: 100%;
    height: 45px;
    top: 149px;
    background-color: rgb(245, 37, 37);
    padding-top: 5px;
    margin-bottom: 50px;
}
.topic > main {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.container {
    width: 80%;
    top: 140px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.itemsContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.items {
    background-color:  rgb(116, 112, 112);
    margin: 20px;
    height: 300px;
    width: 300px;
}
.itemPhoto1 {
    background-image: url(Images/Item1.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 15px;
}
.itemName1 {
    float: left;
    padding-left: 10px;
    font-size: 20px;
}
.itemPrice1 {
    float: right;
    font-size: 20px;
    padding-right: 10px;
}
.itemPhoto2 {
    background-image: url(Images/Item2.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 15px;
}
.itemName2 {
    float: left;
    padding-left: 10px;
    font-size: 20px;
}
.itemPrice2 {
    float: right;
    font-size: 20px;
    padding-right: 10px;
}
.itemPhoto3 {
    background-image: url(Images/Item3.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 15px;
}
.itemName3 {
    float: left;
    padding-left: 10px;
    font-size: 20px;
}
.itemPrice3 {
    float: right;
    font-size: 20px;
    padding-right: 10px;
}
